/* FONDO DE LA PAGINA */

* {
    font-family: 'calibri';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 107, 190);
  }

.header {
    background: rgb(0, 57, 131);
    display: flex;
    height: 85px;
    padding: 5px 5%;
    align-items: center;
    justify-content: space-between;
    
}
.header .logo img {
    height: 75px;
    width: auto;
}